@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


/* NAVBAR */

nav {
    display: flex;

    width: 80%;
    margin: auto;

    align-items: center;
}

#brand-name {
    flex: 1;
    text-align: left;
}

nav ul {
    flex: 3;
    display: flex;

    justify-content: right;
}

nav ul li {
    margin: 0 25px 0 25px;

    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    nav {
        flex-direction: column;
    }

    nav ul li {
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        font-size: 1em;
    }
}

body {
    background-color: rgb(100, 243, 195);

    font-family: 'Nunito', sans-serif;

}