.login-warning {
    width: 75%;
    margin: auto;
    margin-top: 2.5%;
}

.login-warning a {
    text-decoration: underline;
}

.all-courses {
    width: 75%;
    margin: auto;
    margin-top: 0.5%;

    text-align: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}