* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: grid;
    grid-template-columns: 1fr 3fr;

    align-items: center;
}

nav ul {
    width: 30%;
    margin-left: 65%;

    white-space: nowrap;
}

nav ul a {
    flex: 1;
    margin: 0 20px 0 20px;
}

header {
    text-align: center;
    margin: 2.5% 0 2.5% 0;
}


.courses-introduction {
    text-align: center;
    margin: 5% 0 1.5% 0;
}


.top-courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;

    width: 50%;
    margin: auto;
}

.top-course {
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;

    text-align: center;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    padding: 20px 0 20px 0;
}

.top-course a {
    align-self: center;
    width: 50%;
    margin: auto;

    border: 2px solid black;
}