* {
    padding: 0;
    margin: 0;
}

.tutors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 5%;
    
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

.tutors .tutor {
    border: 1px black solid;

    height: 400px;

    text-align: center;
}

.tutors .tutor img {
    width: 150px;
    height: 200px;

    border: 1px solid black;
    margin-top: 10px;
}

.tutors .tutor h1 {
    font-size: 1.25em;
}