@font-face {
    font-family: logofont;
    src: url('../../fonts/MangabeyRegular-rgqVO.otf');
}

* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255)
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    /* background-color: rgb(19, 129, 223); */
    background-color: rgb(57, 131, 57);
}

.register-type-container {
    margin-top: 10%;
}

.register-type {
    width: 30%;
    max-width: 50%;
    margin: auto;
}

.register-choices {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

.register-choices a {
    text-align: center;

    color: black;
    
    background-color: yellow;
    border: 1px solid black;
}

.register-type h1 {
    text-align: center;
}

#register-back-button {
    text-align: center;
}